# CSV

In [4]:
import csv

In [5]:
try:
    import clevercsv as csv
except:
    import csv

In [12]:
csv_filename = '../labs/data/01/sample_file_1.csv'

In [13]:
with open(csv_filename) as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19']
['0.2768269481465526', '0.2600539143969304', '0.9423969993645017', '0.113186573883571', '0.7813550645836627', '0.475739914458678', '0.1520609362251647', '0.2503237263647139', '0.1470784198046563', '0.16298449996357411', '0.9770254336405146', '0.5096188368158496', '0.5932116464259736', '0.9118389221659233', '0.25764491502522135', '0.38645713768894374', '0.6969322645998504', '0.06916215051270647', '0.9522914787919005', '0.2865419323073606']
['0.9958848354862676', '0.15838113557215172', '0.2442736056424828', '0.9621633670380298', '0.6519000888328286', '0.9306647449477456', '0.5771902028992173', '0.08791360033228679', '0.9602606770551084', '0.5808403706232278', '0.19461585775043677', '0.6614592360442781', '0.674084568645348', '0.04932637777792692', '0.7858030110348141', '0.3156445328260793', '0.49535515011890585', '0.23213532598924014', '0.5493236356661702', '0.5722323357283847']
['0.641916622654909', '0.8210553167704127', '0.3924371254542419', '0.7826166033304552', '0.5107620871707726', '0.4283203471178192', '0.017324207377981238', '0.6807202313558247', '0.34041205221350135', '0.4625126323036661', '0.7857758997289559', '0.25194872278799885', '0.03284687058635993', '0.9957004548575084', '0.8165630269275471', '0.7356923324968598', '0.4359982087913735', '0.43041130090416657', '0.531757239496294', '0.4895280127580215']
['0.8065316312867377', '0.5692584069582336', '0.1481753548877074', '0.8099868091360504', '0.4596315453712416', '0.7357618655811269', '0.7306642125209889', '0.9345023904998434', '0.08032238713766493', '0.7635021345768744', '0.3985037692966382', '0.02763671872344542', '0.40966450168600865', '0.942845729801833', '0.13325635516463907', '0.1571576690013463', '0.9294460292904924', '0.40279072072069155', '0.685976006703971', '0.24659389210943794']
['0.3111848275907164', '0.5011654873006324', '0.3659792382653487', '0.7828069868371588', '0.7767950291165509', '0.797198798785809', '0.7919455450866845', '0.8471569562536997', '0.7718114664973373', '0.2339440007416509', '0.5223442842602458', '0.053029562947654374', '0.2085507411175752', '0.8243542373861713', '0.5885670965705934', '0.6043410437269982', '0.23296412911002973', '0.22910888544032393', '0.022881045526936483', '0.47902243982096704']

## Using Pandas

In [14]:
import pandas as pd

In [15]:
df = pd.read_csv(csv_filename)

In [16]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.276827,0.260054,0.942397,0.113187,0.781355,0.475740,0.152061,0.250324,0.147078,0.162984,0.977025,0.509619,0.593212,0.911839,0.257645,0.386457,0.696932,0.069162,0.952291,0.286542
1,0.995885,0.158381,0.244274,0.962163,0.651900,0.930665,0.577190,0.087914,0.960261,0.580840,0.194616,0.661459,0.674085,0.049326,0.785803,0.315645,0.495355,0.232135,0.549324,0.572232
2,0.641917,0.821055,0.392437,0.782617,0.510762,0.428320,0.017324,0.680720,0.340412,0.462513,0.785776,0.251949,0.032847,0.995700,0.816563,0.735692,0.435998,0.430411,0.531757,0.489528
3,0.806532,0.569258,0.148175,0.809987,0.459632,0.735762,0.730664,0.934502,0.080322,0.763502,0.398504,0.027637,0.409665,0.942846,0.133256,0.157158,0.929446,0.402791,0.685976,0.246594
4,0.311185,0.501165,0.365979,0.782807,0.776795,0.797199,0.791946,0.847157,0.771811,0.233944,0.522344,0.053030,0.208551,0.824354,0.588567,0.604341,0.232964,0.229109,0.022881,0.479022

# Excel

In [34]:
astronautas = pd.read_excel('data/astronauts.xls')

In [37]:
astronautas.head(5)

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaT,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN
2,James C. Adamson,1984.0,10.0,Retired,1946-03-03,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaT,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,1951-05-20,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaT,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1930-01-20,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaT,NaN

In [38]:
# !pip install xlwt
astronautas.to_excel('astronauts.xls')

# JSON

In [17]:
alberto = {
  'name': "Alberto",
  'age': 25,
  'city': "Pamplona" 
}

ana = {
  'name': "Ana",
  'age': 28,
  'city': "Madrid" }

contacts = [alberto, ana]

In [2]:
import json

In [21]:
json.dumps(contacts)

'[{"name": "Alberto", "age": 25, "city": "Pamplona"}, {"name": "Ana", "age": 28, "city": "Madrid"}]'

In [20]:
print(json.dumps(contacts, indent=2, sort_keys=True))

[
  {
    "age": 25,
    "city": "Pamplona",
    "name": "Alberto"
  },
  {
    "age": 28,
    "city": "Madrid",
    "name": "Ana"
  }
]

In [22]:
with open("data/contacts.json", "w") as file:
    json.dump(contacts, file)

In [23]:
with open("data/contacts.json") as file:
    contacts = json.load(file)

In [22]:
contacts

[{'name': 'Alberto', 'age': 25, 'city': 'Pamplona'},
 {'name': 'Ana', 'age': 28, 'city': 'Madrid'}]

## Using Pandas

In [32]:
contactos = pd.read_json('data/contacts.json')

In [33]:
contactos

    name  age      city
0  Paula   25  Pamplona
1    Ana   28    Madrid

# YAML

In [3]:
# !pip install pyyaml

import yaml

servers:
  - server1:
      ip : 10.1.1.10
      name: barcelona
  - server2:
      ip : 10.1.1.11
      name: madrid

In [30]:
import yaml
with open('data/servers.yaml') as f:
    # The FullLoader parameter handles the conversion from YAML
    # scalar values to Python the dictionary format
    servers = yaml.load(f, Loader=yaml.FullLoader)

In [31]:
servers

{'servers': [{'server1': {'ip': '10.1.1.10', 'name': 'barcelona'}},
  {'server2': {'ip': '10.1.1.11', 'name': 'madrid'}}]}

# XML

<catalog>
   <book id="bk101">
      <author>Gambardella, Matthew</author>
      <title>XML Developer's Guide</title>
      <genre>Computer</genre>
      <price>44.95</price>
      <publish_date>2000-10-01</publish_date>
      <description>An in-depth look at creating applications 
      with XML.</description>
   </book>
</catalog>

In [24]:
from xml.etree.ElementTree import parse

In [25]:
document = parse('data/books.xml')

In [39]:
for item in document.iterfind('book'):
    print(item.attrib['id'])
    print(item.findtext('title'))

bk101
XML Developer's Guide
bk102
Midnight Rain
bk103
Maeve Ascendant
bk104
Oberon's Legacy
bk105
The Sundered Grail
bk106
Lover Birds
bk107
Splish Splash
bk108
Creepy Crawlies
bk109
Paradox Lost
bk110
Microsoft .NET: The Programming Bible
bk111
MSXML3: A Comprehensive Guide
bk112
Visual Studio 7: A Comprehensive Guide

## xml2json

In [40]:
catalog = []

for item in document.iterfind('book'):
    book = {
        "id": item.attrib['id'],
        "author": item.findtext('author'),
        "title": item.findtext('title'),
        "genre": item.findtext('genre'),
        "price": item.findtext('price'),
        "publish_date": item.findtext('publish_date'),
        "description": item.findtext('description').replace('\n      ',''),
        
    }
    catalog.append(book)
    
print(json.dumps(catalog, indent=2))

[
  {
    "id": "bk101",
    "author": "Gambardella, Matthew",
    "title": "XML Developer's Guide",
    "genre": "Computer",
    "price": "44.95",
    "publish_date": "2000-10-01",
    "description": "An in-depth look at creating applications with XML."
  },
  {
    "id": "bk102",
    "author": "Ralls, Kim",
    "title": "Midnight Rain",
    "genre": "Fantasy",
    "price": "5.95",
    "publish_date": "2000-12-16",
    "description": "A former architect battles corporate zombies, an evil sorceress, and her own childhood to become queen of the world."
  },
  {
    "id": "bk103",
    "author": "Corets, Eva",
    "title": "Maeve Ascendant",
    "genre": "Fantasy",
    "price": "5.95",
    "publish_date": "2000-11-17",
    "description": "After the collapse of a nanotechnology society in England, the young survivors lay the foundation for a new society."
  },
  {
    "id": "bk104",
    "author": "Corets, Eva",
    "title": "Oberon's Legacy",
    "genre": "Fantasy",
    "price": "5.95",
    "publish_date": "2001-03-10",
    "description": "In post-apocalypse England, the mysterious agent known only as Oberon helps to create a new life for the inhabitants of London. Sequel to Maeve Ascendant."
  },
  {
    "id": "bk105",
    "author": "Corets, Eva",
    "title": "The Sundered Grail",
    "genre": "Fantasy",
    "price": "5.95",
    "publish_date": "2001-09-10",
    "description": "The two daughters of Maeve, half-sisters, battle one another for control of England. Sequel to Oberon's Legacy."
  },
  {
    "id": "bk106",
    "author": "Randall, Cynthia",
    "title": "Lover Birds",
    "genre": "Romance",
    "price": "4.95",
    "publish_date": "2000-09-02",
    "description": "When Carla meets Paul at an ornithology conference, tempers fly as feathers get ruffled."
  },
  {
    "id": "bk107",
    "author": "Thurman, Paula",
    "title": "Splish Splash",
    "genre": "Romance",
    "price": "4.95",
    "publish_date": "2000-11-02",
    "description": "A deep sea diver finds true love twenty thousand leagues beneath the sea."
  },
  {
    "id": "bk108",
    "author": "Knorr, Stefan",
    "title": "Creepy Crawlies",
    "genre": "Horror",
    "price": "4.95",
    "publish_date": "2000-12-06",
    "description": "An anthology of horror stories about roaches,centipedes, scorpions  and other insects."
  },
  {
    "id": "bk109",
    "author": "Kress, Peter",
    "title": "Paradox Lost",
    "genre": "Science Fiction",
    "price": "6.95",
    "publish_date": "2000-11-02",
    "description": "After an inadvertant trip through a HeisenbergUncertainty Device, James Salway discovers the problems of being quantum."
  },
  {
    "id": "bk110",
    "author": "O'Brien, Tim",
    "title": "Microsoft .NET: The Programming Bible",
    "genre": "Computer",
    "price": "36.95",
    "publish_date": "2000-12-09",
    "description": "Microsoft's .NET initiative is explored in detail in this deep programmer's reference."
  },
  {
    "id": "bk111",
    "author": "O'Brien, Tim",
    "title": "MSXML3: A Comprehensive Guide",
    "genre": "Computer",
    "price": "36.95",
    "publish_date": "2000-12-01",
    "description": "The Microsoft MSXML3 parser is covered in detail, with attention to XML DOM interfaces, XSLT processing, SAX and more."
  },
  {
    "id": "bk112",
    "author": "Galos, Mike",
    "title": "Visual Studio 7: A Comprehensive Guide",
    "genre": "Computer",
    "price": "49.95",
    "publish_date": "2001-04-16",
    "description": "Microsoft Visual Studio 7 is explored in depth,looking at how Visual Basic, Visual C++, C#, and ASP+ are integrated into a comprehensive development environment."
  }
]